:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
}

h2 {
  text-align: center;
  color: #333333;
}

form {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555555;
  text-align: left;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

button {
  width: 100%;
  margin-bottom: 20px;
}

label.code__label {
  text-align: center;
}

.error {
  text-align: center;
  background-color: rgb(210, 85, 85);
  color: #fff;
  margin: 10px auto;
  border-radius: 8px;
  padding: 5px;
}
