<div class="container">
  <h2>Dodaj nową notatkę</h2>
  <form [formGroup]="addForm" class="form" (ngSubmit)="handleSubmit()">
    <div class="form-group">
      <label>Tytuł</label>
      <input type="text" formControlName="title">
      <div class="error" *ngIf="addForm.get('title').touched && addForm.get('title').hasError('required')">Tytuł jest
        wymagany</div>
      <div class="error"
        *ngIf="addForm.get('title').hasError('minlength') || addForm.get('title').hasError('maxlength')">
        Pole musi mieć 1-64 znaki</div>
    </div>
    <div class="form-group">
      <label>Treść notatki</label>
      <textarea formControlName="content"></textarea>
      <div class="error" *ngIf="addForm.get('content').touched && addForm.get('content').hasError('required')">Treść
        jest wymagana</div>
      <div class="error"
        *ngIf="addForm.get('content').hasError('minlength') || addForm.get('content').hasError('maxlength')">Pole musi
        mieć 1-4096 znakow</div>
    </div>

    <div class="form-group checkbox">
      <input type="checkbox" formControlName="isPublic">
      <label>Publiczna</label>
    </div>
    <div class="form-group checkbox">
      <input type="checkbox" formControlName="isEncrypted">
      <label>Szyfrowana</label>
    </div>

    <div class="form-group" *ngIf="addForm.get('isEncrypted').value">
      <label>Hasło</label>
      <input type="password" formControlName="password">
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="addForm.invalid || (addForm.get('isEncrypted').value && !addForm.get('password').value) || !(addForm.get('isEncrypted').value || addForm.get('isPublic').value)">
      Dodaj
    </button>
  </form>
</div>